:root {
  --c1-color: #e6eaee;
  --c2-color: #d6d9dc;
  --c3-color: #c1c3c7;
  --c4-color: #b4b5b7;
  --c5-color: #a8abae;
  --c6-color: #8e9195;
  --c7-color: #7a7c80;
  --c8-color: #5d5e60;
  --c9-color: #424344;
  --c10-color: #2f2f30;
  --c11-color: #202121;
  --c12-color: #0f0f0f;
  --p1-color: #1772a0;
  --p2-color: #0c5981;
  --p3-color: #074d72;
  --p4-color: #024263;
  --p5-color: #003754;
  --p6-color: #00273c;
  --p7-color: #001926;
  --s1-color: #eebd3f;
  --s2-color: #d3a52d;
  --s3-color: #bc8f1c;
  --s4-color: #a57b10;
  --s5-color: #8c6709;
  --s6-color: #735404;
  --s7-color: #5f4401;
  --s8-color: #483400;
  --s9-color: #312300;
  --s10-color: #1d1500;
  --t1-color: #e5383b;
  --t2-color: #ca272a;
  --t3-color: #b7181b;
  --t4-color: #a10e11;
  --t5-color: #8f080b;
  --t6-color: #800507;
  --t7-color: #6d0103;
  --t8-color: #520001;
}
